[submodule "ext/lodepng"]
	path = ext/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "ext/diffvg"]
	path = ext/diffvg
	url = https://github.com/BachiLi/diffvg.git
[submodule "ext/benchmark"]
	path = ext/benchmark
	url = https://github.com/google/benchmark.git
